<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dumbphone Apps</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>

<h2>Log In</h2>


{% if success %}
<form method="post" action="/accounts/login/otp">
    {% csrf_token %}
    <p>
        <label for="tel2">Telephone Number:</label>
        <input class="big" readonly type="tel" name="tel" id="tel2" value="{{tel}}">
    </p>
    <p>
        <label for="otp">Passcode:</label>
        <input class="big" autocomplete="one-time-code" type="number" id="otp" name="otp">
    </p>
    <button type="submit">Log In</button>
</form>
{% if error %}
<div class="error">
    <p>{{ error }}</p>
</div>
{% endif %}
{% else %}
<form method="post" action="/accounts/login/signup">
    {% csrf_token %}
    <p>
        <label for="tel">Telephone Number:</label>
        <input class="big" type="tel" id="tel" name="tel">
    </p>
    <button type="submit">Log In</button>
</form>
{% if error %}
<div class="error">
    <p>{{ error }}</p>
</div>
{% endif %}
{% endif %}
</body>

</html>