#content {
  min-height: calc(100vh - 16px);
}

#results {
  min-height: calc(100vh - 16px);
}

#puzzle {
  max-width: calc(100vh - 150px);
}

.card>div {
  max-width: calc(((100vh - 150px) / 4) - 2px);
  max-height: calc(((100vh - 150px) / 4) - 2px);
}

.answer>div {
  max-width: calc(100vh - 150px);
  max-height: calc(((100vh - 150px) / 4) - 2px);
}