#content {
  display: flex;
  flex-direction: column;
}

#comment {
  position: fixed;
  top: 2px;
  left: 2px;
  width: calc(100vw - 4px);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: -1;
  user-select: none;
  -webkit-user-select: none;
}

#comment-span {
  font-size: 16px;
  box-sizing: border-box;
  background-color: #5a594e;
  color: #fff;
  border-radius: 5px;
  padding: 4px 10px;
  font-family: "Libre Franklin", serif;
}

.slow-fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

#results {
  position: relative;
  width: calc(100vw - 16px);
  margin-bottom: 8px;
  display: none;
}

#results>div {
  width: 100%;
  height: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display-text {
  font-size: xx-large;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: normal;
  font-family: "Moul", serif;
}

#date-text {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0px;
  font-weight: normal;
  font-family: "Libre Franklin", serif;
}

.moul {
  font-family: "Moul", serif;
  line-height: 1;
  margin-top: 2px;
}

#result-blocks {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.result-cell {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 1px;
}

#puzzle {
  display: flex;
  flex-wrap: wrap;
  min-width: 316px;
  width: calc(100vw - 20px);
}

#answers {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  margin: 1px;
  background-color: #efefe6;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}

.card>div {
  min-width: 77px;
  min-height: 77px;
  width: calc(((100vw - 20px) / 4) - 2px);
  height: calc(((100vw - 20px) / 4) - 2px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Libre Franklin", serif;
  font-weight: bold;
}

.card>div>object {
  width: 100%;
  height: 100%;
}

.answer {
  display: flex;
  margin: 1px;
  background-color: #efefe6;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}

.answer>div {
  min-width: 314px;
  min-height: 77px;
  width: calc((100vw - 20px) - 2px);
  height: calc(((100vw - 20px) / 4) - 2px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Libre Franklin", serif;
  flex-direction: column;
}

.answer>div>p {
  margin: 0px;
}

.answer>div>p:first-child {
  margin-bottom: 10px;
}

.answer>div>p:last-child {
  font-size: 10px;
}

#guesses {
  display: flex;
  margin: 5px 0px;
  font-family: "Libre Franklin", serif;
  user-select: none;
  -webkit-user-select: none;
}

#guesses>span {
  margin-right: 8px;
}

.guess {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #999;
  display: inline-block;
  margin: 1px;
}

#game-controls>button {
  display: inline-block;
  margin: 1px;
  background-color: #fff;
  border: 1px solid #5a594e;
  padding: 10px 20px;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  color: #000;
}

#game-controls>button:hover {
  background-color: #efefe6;
}

#game-controls>button:active {
  background-color: #c7c7bd;
}

.chosen {
  background-color: #5a594e;
  color: #fff;
}

.green {
  background-color: #97c447;
  color: #000;
}

.yellow {
  background-color: #f9df6d;
  color: #000;
}

.blue {
  background-color: #b0c4ef;
  color: #000;
}

.purple {
  background-color: #bb81c5;
  color: #000;
}

.game-div {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(0px)
  }

  75% {
    transform: translateX(-5px)
  }

  100% {
    transform: translateX(0)
  }
}

.shake {
  animation-name: horizontal-shaking;
  animation-duration: 0.125s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}