<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dumbphone Apps</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
</head>

<body>
    <div><b>Home</b></div>
    <ul>
        <li><a href="/grocery-list">Grocery List</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/food-diary">Food Diary</a></li>
        <li><a href="/reddit">Reddit</a></li>
    </ul>
    <form class="logout" action="/accounts/logout" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
</body>

</html>