*.class
*.exe
*.jar
*.opensdf
*.pdb
*.sdf
*.suo
*.user
*.log
*.full_model
*.packages
*.iml
*.xtendbin
*._trace
*.xtextbin
*.zip
.classpath
.gradle
.idea
.metadata
.project
.recommenders
.settings
3pp
RemoteSystemsTempFiles
bin
build
dist
libs
model-utils
obj
out
pgsql-9.4.5_64
target
GuidFinder
TestConditionGenerator
CppLauncher
InformationModelParser
Launcher
CodeGenAlphabetizer
jre