* {
    font-family:arial;
}
body {
    padding:0px;
    margin:0px;
    position:relative;
}
#top-bar {
    position:sticky;
    top:0px;
    width:100%;
    background-color:#efefef;
    border-bottom: 1px #ddd solid;
    padding:5px;
    box-sizing:border-box;
    z-index:3;
}
button {
    background-color:#fff;
    color:#0020C9;
    padding:0.2em 0.5em 0.2em 0.5em;
    font-size:16px;
    border-radius:5px;
    border: 1px #aaa solid;
}
#title-bar {
    display:flex;
    justify-content:space-between;
    border-bottom: 1px #ddd solid;
    padding-bottom:5px;
    margin-bottom:5px;
    align-items:center;
}
#top-bar h1 {
    padding:0px;
    margin:0px;
    display:inline;
    font-size:20px;
    color:#0020C9;
}
#tool-bar {
    display:flex;
    justify-content:space-evenly;
}
#add-item {
    padding:0.2em 1em 0.2em 1em !important;
}
#add-item span {
    padding-right:0.5em;
}
#content {
    position:relative;
}
.group {
    position:relative;
}
.group .section-header {
    padding:0px;
    margin:0px;
    position:sticky;
    top: 74px;
    z-index:2;
}
.group h2 {
    margin:0px;
    font-size:16px;
    color:#fff;
    background-color:#0020C9;
    font-weight:bold;
    text-align:center;
    padding:5px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#content ul {
    padding:0px;
    margin:0px;
}
#content li {
    padding:10px;
    border-bottom: 1px #ddd solid;
    position:relative;
    min-height:39px;
    box-sizing:border-box;
}
#content li button {
    position:absolute;
    top:0px;
    right:0px;
    border-radius:0px;
    height:39px;
    width:39px;
    border-top:0px;
    box-sizing:border-box;
}
#submit-bar {
    display:none;
}
#item-text-box {
    flex-grow:1;
}
.big {
    font-size: 20px;
}
#breadcrumb {
    display:none;
}
.logout {
    display:none;
}
.modal-bg {
    background-color: #fffc;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin: 0px;
}
.modal {
    background-color: #fff;
    border-radius: 20px;
    width: fit-content;
    border: 1px black solid;
    padding: 2em 2em 4em 2em;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    position: fixed;
    height: fit-content;
}
.modal .delete {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    height: 40px;
    content: "after";
    border-width: 1px 0px 0px 0px;
    border-color: black;
}
.modal p {
    margin-top:0px;
}
.modal .delete::before {
    content: "Close ";
}
.share-enterer {
    display:flex;
    align-items:center;
}
.share-enterer label {
    white-space:nowrap;
}