#suggestions {
    display: none;
    position: absolute;
    top: 24px;
    left: 0px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: none;
    z-index:2;
}

#suggestions li {
    list-style: none;
    padding: 5px;
    border: 1px black solid;
}

#servings {
    display:none;
    position: absolute;
    top: -5px;
    left: 20px;
    background-color: #fff;
    z-index:2;
    padding:5px;
    border:1px black solid;
}

#servings-amount {
    width:100px;
}
#food-edit {
    display:none;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #fff;
    z-index:2;
    padding:5px;
    border:1px black solid;
}

#food-edit table, #food-edit td, #food-edit tr {
    border:none;
}

.food {
    cursor:pointer;
}