<!DOCTYPE html>
<html>
<head>
    <style>
        * {
        padding:0px;
        margin:0px;
        }
    </style>
</head>
<body>
<img id="img" src="{{href}}">
</body>
<script>
    const img = document.getElementById('img');
    const resize = () => {
        if (!img.complete) {
            setTimeout(resize, 100);
            return;
        }
        if(window.innerWidth < img.offsetWidth) {
            img.style.width = window.innerWidth + 'px';
        }
    }
    resize();
</script>
</html>