<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>reddit</title>
    <style>
        .post {
            border-radius:10px;
            background-color:#ddd;
            padding:5px;
            margin:5px;
        }
        p{
            margin:2px 0px 2px 0px;
        }
    </style>
</head>
<body>
<p>
{% if before %}
    <a href="/reddit?url={{url}}&before={{before}}&count={{count_before}}">&lt; prev</a>
{% endif %}
    <a href="/reddit?url={{url}}">{{url}}</a>
{% if after %}
    <a href="/reddit?url={{url}}&after={{after}}&count={{count_after}}">next &gt;</a>
{% endif %}
</p>
{% for post in posts %}
<div class="post">
<p>{{post.title}}</p>
{% if post.thumb %}
<a href="{{post.media_url}}"><img src="{{post.thumb}}" /></a>
{% endif %}
<p style="font-size:small;">{{post.subreddit}} &mdash; {{post.score}} votes &mdash; <a href="/reddit/view_post/?url={{post.url}}">{{post.num_comments}} comments</a></p>
</div>
{% endfor %}
</body>
</html>