<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>reddit</title>
    <style>
        .post {
            border-radius:10px;
            border:1px solid black;
            background-color:#ddd;
            padding:5px;
            margin:5px;
        }
        p {
            margin:2px 0px 2px 0px;
        }
        h1 {
            margin:2px 0px 2px 0px;
        }
        pre {
            white-space: pre-wrap;
            font-family: serif;
            margin:2px 0px 2px 0px;
        }
    </style>
</head>
<body>
<div class="post">
<p><strong>{{post.title}}</strong></p>
{% if post.thumb %}
<a href="{{post.media_url}}"><img src="{{post.thumb}}" /></a>
{% endif %}
{% if post.selftext %}
<pre>{{post.selftext}}</pre>
{% endif %}
<p style="font-size:small;">{{post.subreddit}} &mdash; {{post.score}} votes &mdash; {{post.num_comments}} comments</p>
</div>
<div onclick="smol(event)">
{% include "reddit/comment.html" %}
</div>
<script>
    function smol(event) {
        let target = event.target;
        if (target.tagName == 'PRE') {
            target = target.parentElement;
        }
        for(let i = 0; i < target.children.length; i++) {
            const child = target.children[i];
            const currentDisplay = child.style.display;
            if('none' == currentDisplay) {
                child.style.display = 'block';
            } else {
                child.style.display = 'none';
            }
        }
    }
    function getMore(url, id) {
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/reddit/get_more?url=" + encodeURIComponent(url) + "&id=" + encodeURIComponent(id), true);
        xmlHttp.onload = populateMore;
        xmlHttp.send(null);
    }
    function populateMore(event) {
        let xmlHttp = event.target;
        let result = JSON.parse(xmlHttp.responseText);
        console.log(result);
    }
</script>
</body>
</html>