body {
    padding-bottom: 30px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ui-list {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.ui-list li {
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
}

.ui-list div.name {
    padding-left: 5px;
}

.top-list {
    margin-top: 10px;
}

.top-list>li {
    margin-bottom: 5px;
    background-color: #eee;
}

.bottom-list>li {
    background-color: #ddd;
    margin-top: 5px;
}

li {
    position: relative;
}

div#input {
    width: 100%;
    display: flex;
}

div#input>input {
    flex-grow: 1;
}

.delete {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.logout {
    position:absolute;
    top:0;
    right:0;
}

.add-to-group {
    width:100%;
    padding-right:0px;
    padding-left:0px;
    box-sizing:border-box;
}
.add-to-group input {
    width:100px;
}
.fill {
    flex-grow: 1;
}
/*
@media screen and (min-width:300px) {
    */
    .add-to-group {
        display:flex;
    }
    /*
}
@media screen and (max-width:300px) {
    .add-to-group {
        display:block;
    }
}
*/