<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Food Diary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <style>
        #suggestions {
            display: none;
            position: absolute;
            top: 20px;
            left: 0px;
            background-color: #fff;
            padding: 0px;
            margin: 0px;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: none;
        }

        #suggestions li {
            list-style: none;
            padding: 5px;
            border: 1px black solid;
        }

        #servings {
            display:none;
            position: absolute;
            top: -5px;
            left: 20px;
            background-color: #fff;
            z-index:2;
            padding:5px;
            border:1px black solid;
        }

        #servings-amount {
            width:100px;
        }
    </style>
</head>

<body>
<div><b><a href="..">Home</a></b> &gt; <b>food-diary</b></div>
<h1>Food Diary</h1>
<div style="position:relative;">
    <div id="input">
        <input id="item-text-box" type="text" onkeyup="queueSearch(event)">
        <button id="add" onclick="addToList(event)">Add</button>
    </div>
    <ul id="suggestions"></ul>
</div>
<div id="servings">
    <input id="servings-amount" type="text"></input>
    <select id="servings-name" onchange="servingChange(event)">
        <option>Test One</option>
        <option>Test Two</option>
    </select>
    <button id="servings-save" onclick="saveServing(event)">Save</button>
    <button onclick="closeServings(event)">&times;</button>
</div>
<table style="border:none;">
    <tr style="position:relative;">
        <th style="border:none;"></th>
        <th>Food</th>
        <th>kcal</th>
        <th style="border:none;"></th>
    </tr>
    {% for entry in entries %}
    <tr style="position:relative;">
        <td>
            <button onclick="changeQuantity(event)" hash="{{entry.hash}}">&#35;</button>
        </td>
        <td>{{entry.food.name}}</td>
        <td style="text-align:right;">{{entry.derived_values.calories}}</td>
        <td>
            <button onclick="deleteEntry(event)" hash="{{entry.hash}}">&times;</button>
        </td>
    </tr>
    {% endfor %}
    <tr style="position:relative;">
        <td style="border:none;"></td>
        <td>Total</td>
        <td style="text-align:right;">{{total}}</td>
        <td style="border:none;"></td>
    </tr>
</table>
<form class="logout" action="/accounts/logout/?next=/" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
<script>
        document.addEventListener("keydown", function (e) {
            if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
            }
        }, false);
        document.getElementById("item-text-box")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("add").click();
                }
            });
        function addToList(event) {
            const caller = event.target;
            const input = caller.parentElement.getElementsByTagName("input")[0];
            let text = input.value;
            const fieldValues = {'calories':0,'fat':0,'carbs':0,'protein':0};
            for(const field of Object.keys(fieldValues)) {
                let result = new RegExp(field + ':\\s*([0-9]+)').exec(text)
                if(result) {
                    fieldValues[field] = result[1];
                    text = text.substring(0,result.index) + text.substring(result.index + result[0].length, text.length)
                }
            }
            const foodName = text.trim();
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/food-diary/add?foodName=' + encodeURIComponent(foodName)
                + '&calories=' + encodeURIComponent(fieldValues.calories)
                + '&fat=' + encodeURIComponent(fieldValues.fat)
                + '&carbs=' + encodeURIComponent(fieldValues.carbs)
                + '&protein=' + encodeURIComponent(fieldValues.protein), true);
            xmlHttp.onload = refreshPage;
            xmlHttp.send(null);
        }
        function refreshPage(event) {
            let xmlHttp = event.target;
            console.log(xmlHttp.responseText);
            input.value = '';
            location.reload();
        }
        let searchTimeout = undefined;
        function queueSearch(event) {
            clearTimeout(searchTimeout);
            searchTimeout = setTimeout(search, 200, event);
        }
        function search(event) {
            const caller = event.target;
            const input = caller.parentElement.getElementsByTagName("input")[0];
            const query = input.value;
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/food-diary/search?query=' + encodeURIComponent(query), true);
            xmlHttp.onload = displaySearch;
            xmlHttp.send(null);
        }
        function displaySearch(event) {
            let xmlHttp = event.target;
            const suggestions = document.getElementById("suggestions");
            while (suggestions.firstChild) {
                suggestions.removeChild(suggestions.firstChild);
            }
            let items = JSON.parse(xmlHttp.responseText);
            for (let i = 0; i < items.length; i++) {
                const item = items[i];
                const li = document.createElement("li");
                li.innerText = item;
                li.addEventListener("click", setTextAndAdd);
                li.style.cursor = "pointer";
                suggestions.appendChild(li);
            }
            suggestions.style.display = 'block';
        }
        function setTextAndAdd(event) {
            const caller = event.target;
            const newValue = caller.innerText;
            const textBox = document.getElementById("item-text-box");
            textBox.value = newValue;
            const suggestions = document.getElementById("suggestions");
            while (suggestions.firstChild) {
                suggestions.removeChild(suggestions.firstChild);
            }
            suggestions.style.display = "none";
            addToList({'target':textBox});
        }
        function deleteEntry(event) {
            const caller = event.target;
            const hash = caller.getAttribute('hash');
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/food-diary/delete?hash=' + encodeURIComponent(hash), true);
            xmlHttp.onload = refreshPage;
            xmlHttp.send(null);
        }
        function changeQuantity(event) {
            const caller = event.target;
            let servings = document.getElementById('servings');
            caller.parentElement.appendChild(servings);
            const hash = caller.getAttribute('hash');
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/food-diary/get_serving?hash=' + encodeURIComponent(hash), true);
            xmlHttp.onload = displayServing;
            xmlHttp.send(null);
        }
        function closeServings(event) {
            let servings = document.getElementById('servings');
            servings.style.display = 'none';
        }
        function displayServing(event) {
            let xmlHttp = event.target;
            let item = JSON.parse(xmlHttp.responseText);
            console.log(item);
            let servings = document.getElementById('servings');
            servings.style.display = 'block';
            let textBox = document.getElementById('servings-amount');
            let select = document.getElementById('servings-name');
            while(select.firstChild) {
                select.firstChild.remove();
            }
            {
                let option = document.createElement('option');
                option.innerText = 'kcal';
                option.setAttribute('amount', item.food.metadata.calories);
                select.appendChild(option);
                textBox.value = item.food.metadata.calories;
            }
            for(let serving of item.food.metadata.servings) {
                let option = document.createElement('option');
                option.innerText = serving.name;
                option.setAttribute('amount', serving.amount);
                select.appendChild(option);
            }
            let save = document.getElementById('servings-save');
            save.setAttribute('hash',item.hash);
        }
        function servingChange(event) {
            let select = event.target;
            let option = select.options[select.selectedIndex];
            console.log(option)
            let amount = option.getAttribute('amount');
            let textBox = document.getElementById('servings-amount');
            textBox.value = amount;
        }
        function saveServing(event) {
            const caller = event.target;
            const hash = caller.getAttribute('hash');
            let textBox = document.getElementById('servings-amount');
            let select = document.getElementById('servings-name');
            const name = select.value;
            const quantity = textBox.value;
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", '/food-diary/set_serving?hash=' + encodeURIComponent(hash) + '&name=' + encodeURIComponent(name) + '&amount=' + encodeURIComponent(quantity), true);
            xmlHttp.onload = refreshPage;
            xmlHttp.send(null);
        }
</script>
</body>

</html>