<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
</head>

<body>
    <div><b><a href="..">Home</a></b> &gt; <b>grocery-list</b></div>
    <div id="input">
        <input onfocus="hideShareDiv(event)" id="item-text-box" type="text">
        <button id="add" onclick="addToList(event)">Add</button>
    </div>

    <div id="share">
        <p>Share &ldquo;<span id="list-name">this</span>&rdquo; list with:</p>
        <label for="user-to-share-with">Email: </label><input id="user-to-share-with"/>
        <button id="share-button" onclick="sendShareRequest(event)">Share</button>
        <button onclick="hideShareDiv(event)" class="delete">&times;</button>
    </div>

    <ul id="main-list" class="ui-list top-list">
    </ul>
    <form class="logout" action="/accounts/logout/?next=/" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <script>
        let listContent = {
            {% for key, group in list.items %}
                '{{key}}': {
                    'hash': '{{group.hash}}',
                    'name': '{{group.name}}',
                    'items': [
                    {% for item in group.items %}
                    {'name':'{{item.name}}','hash':'{{item.hash}}'},
                    {% endfor %}
                ]},
            {% endfor %}
        };

        document.addEventListener("keydown", function (e) {
            if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
            }
        }, false);
        document.getElementById("item-text-box")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("add").click();
                }
            });
        document.getElementById("user-to-share-with")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("share-button").click();
                }
            });
        let gtbs = document.getElementsByClassName("group-text-box")
        for (let i = 0; i < gtbs.length; i++) {
            item = gtbs[i];
            item.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    event.target.parentElement.getElementsByClassName("add")[0].click();
                }
            });
        }
        function determineAddUrl(json) {
            let task = json.task;
            let input = json.input;
            let groupName = json.groupName;
            let parts = input.split(",", 2);
            if (2 == parts.length) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(parts[0]) + '&name=' + encodeURIComponent(parts[1]);
            } else if (!!groupName) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(groupName) + '&name=' + encodeURIComponent(parts[0]);
            } else {
                return '/grocery-list/' + 'add' + '?name=' + encodeURIComponent(parts[0]);
            }
        }
        function addToList(event) {
            hideShareDiv(event);
            const caller = event.target;
            const input = caller.parentElement.getElementsByTagName("input")[0];
            let groupName = undefined;
            if ("LI" == caller.parentElement.parentElement.tagName) {
                groupName = caller.parentElement.firstElementChild.textContent;
            }
            let url = determineAddUrl({ 'groupName': groupName, 'input': input.value });
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true);
            xmlHttp.send(null);
            xmlHttp.onload = handleAddList;
            input.value = '';
        }
        function handleAddList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            if(result.hasOwnProperty('group') && result.hasOwnProperty('item')) {
                addItem(result.group, result.item);
            }
        }
        function deleteFromList(event) {
            hideShareDiv(event);
            const groupName = event.target.parentElement.parentElement.parentElement.children[0].children[0].textContent;
            const textItem = event.target.parentElement;
            const text = textItem.children[0].textContent;

            removeItem(textItem);

            let url = '/grocery-list/' + 'delete' + '?group=' + encodeURIComponent(groupName) + '&name=' + encodeURIComponent(text);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true); // false for synchronous request
            xmlHttp.onload = handleDeleteList;
            xmlHttp.send(null);
        }
        function handleDeleteList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            console.log(JSON.stringify(result));
        }
        function openShareWindow(event) {
            let share = document.getElementById('share');
            let listName = document.getElementById('list-name');
            listName.innerText = event.target.parentElement.firstElementChild.innerText;
            listName.setAttribute('hash', event.target.parentElement.parentElement.id);
            share.style.display = 'block';
        }
        function hideShareDiv(event) {
            let share = document.getElementById('share');
            share.style.display = 'none';
        }
        function sendShareRequest(event) {
            console.log(event);
            let userToShareWithBox = document.getElementById('user-to-share-with');
            let user = userToShareWithBox.value;
            let listName = document.getElementById('list-name');
            let group_hash = listName.getAttribute('hash');

            let url = '/grocery-list/share?user=' + encodeURIComponent(user) + '&group_hash=' + encodeURIComponent(group_hash);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true); // false for synchronous request
            xmlHttp.onload = handleDeleteList;
            xmlHttp.send(null);
        }
        function moveUp(event) {
            hideShareDiv(event);
            const caller = event.target;
            let groupId = caller.parentElement.parentElement.id;
            let otherGroup = caller.parentElement.parentElement.previousElementSibling;
            if(otherGroup) {
                swapGroups(groupId, otherGroup.id);
                runOrderCall();
            }
        }
        function moveDown(event) {
            hideShareDiv(event);
            const caller = event.target;
            let groupId = caller.parentElement.parentElement.id;
            let otherGroup = caller.parentElement.parentElement.nextElementSibling;
            if(otherGroup) {
                swapGroups(otherGroup.id, groupId);
                runOrderCall();
            }
        }

        function runOrderCall() {
            let csrftoken = '{{ csrf_token }}';
            let url = '/grocery-list/move';
            const groups = document.querySelectorAll('ul#main-list>li')
            let group_hashes = [];
            let formData = new FormData();
            for(let group of groups) {
                formData.append('group_hashes', group.id);
            }
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", url, true); // false for synchronous request
            xmlHttp.setRequestHeader('X-CSRFToken', csrftoken);
            xmlHttp.onload = handleMoveList;
            xmlHttp.send(formData);
        }

        function handleMoveList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            console.log(JSON.stringify(result));
        }

        function swapGroups(groupOneId, groupTwoId) {
            let mainList = document.getElementById('main-list');
            let groupOneLi = document.getElementById(groupOneId);
            let groupTwoLi = document.getElementById(groupTwoId);

            mainList.insertBefore(groupOneLi, groupTwoLi);
        }

        function addItem(group, item) {
            let mainList = document.getElementById('main-list');

            const groupId = group.hash;
            let groupLi = document.getElementById(groupId);
            if(!groupLi) {
                groupLi = document.createElement('li');
                groupLi.id = groupId;
                groupLi.appendChild(createAddToDiv(group));
                let itemsList = document.createElement('ul');
                itemsList.classList.add('ui-list');
                itemsList.classList.add('bottom-list');
                groupLi.appendChild(itemsList);
                mainList.appendChild(groupLi);
            }

            let itemUl = groupLi.getElementsByClassName('ui-list')[0];


            const itemId = item.hash;
            let itemLi = document.getElementById(itemId);
            if(!itemLi) {
                let itemLi = document.createElement('li');
                itemLi.id = itemId;
                let nameDiv = document.createElement('div');
                nameDiv.classList.add('name');
                nameDiv.innerHTML = item.name;
                itemLi.appendChild(nameDiv);
                let deleteButton = document.createElement('button');
                deleteButton.onclick = deleteFromList;
                deleteButton.classList.add('delete');
                deleteButton.innerHTML = '&times;'
                itemLi.appendChild(deleteButton);
                itemUl.appendChild(itemLi);
            }
        }

        function createAddToDiv(group) {
            let addToGroupDiv = document.createElement('div');
            addToGroupDiv.classList.add('add-to-group');
            let nameDiv = document.createElement('div');
            nameDiv.classList.add('name');
            nameDiv.textContent = group.name;
            addToGroupDiv.appendChild(nameDiv);
            let fillDiv = document.createElement('div');
            fillDiv.classList.add('fill');
            addToGroupDiv.appendChild(fillDiv);
            let shareButton = document.createElement('button');
            shareButton.innerHTML = '&#10282;';
            shareButton.onclick = openShareWindow;
            addToGroupDiv.appendChild(shareButton);
            let upButton = document.createElement('button');
            upButton.classList.add('up');
            upButton.onclick = moveUp;
            upButton.innerHTML = '&#9650;';
            addToGroupDiv.appendChild(upButton);
            let downButton = document.createElement('button');
            downButton.classList.add('down');
            downButton.onclick = moveDown;
            downButton.innerHTML = '&#9660;';
            addToGroupDiv.appendChild(downButton);
            return addToGroupDiv;
        }

        function removeItem(item) {
            let groupLi = item.parentElement.parentElement;
            item.remove();

            let itemUl = groupLi.getElementsByClassName('ui-list')[0];
            if(!itemUl.firstElementChild) {
                groupLi.remove();
            }
        }

        function generateItemId(group, item) {
            return (group + String.fromCharCode(2) + item).hashCode();
        }


        {
            let groups = Object.keys(listContent);
            for(let i = 0; i < groups.length; i++) {
                let group = listContent[groups[i]];
                let items = listContent[groups[i]].items;
                for(let j = 0; j < items.length; j++) {
                    let item = items[j];
                    addItem(group, item);
                }
            }
        }
    </script>
</body>

</html>