<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
</head>

<body>
    <div><b><a href="..">Home</a></b> &gt; <b>lists</b></div>
    <h1>Shopping List</h1>
    <div id="input">
        <input id="item-text-box" type="text">
        <button id="add" onclick="addToList(event)">Add</button>
    </div>

    <ul class="ui-list top-list">
        {% for group, items in list.items %}
            <li>
                <div class="add-to-group">
                    <div class="name">{{group}}</div>
                    <div class="fill"></div>
                    <!--
                    <input class="group-text-box" type="text">
                    <button class="add" onclick="addToList(event)">Add</button>
                    -->
                    <button class="up" onclick="moveUp(event)">&#9650;</button>
                    <button class="down" onclick="moveDown(event)">&#9660;</button>
                </div>
                <ul class="ui-list bottom-list">
                    {% for item in items %}
                        <li>
                            <div class="name">{{item}}</div><button onclick="deleteFromList(event)"
                                class="delete">&times;</button>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <form class="logout" action="/accounts/logout/?next=/" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <script>
        document.addEventListener("keydown", function (e) {
            if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
            }
        }, false);
        document.getElementById("item-text-box")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("add").click();
                }
            });
        let gtbs = document.getElementsByClassName("group-text-box")
        for (let i = 0; i < gtbs.length; i++) {
            item = gtbs[i];
            item.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    event.target.parentElement.getElementsByClassName("add")[0].click();
                }
            });
        }
        function determineAddUrl(json) {
            let task = json.task;
            let input = json.input;
            let groupName = json.groupName;
            let parts = input.split(",", 2);
            if (2 == parts.length) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(parts[0]) + '&name=' + encodeURIComponent(parts[1]);
            } else if (!!groupName) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(groupName) + '&name=' + encodeURIComponent(parts[0]);
            } else {
                return '/grocery-list/' + 'add' + '?name=' + encodeURIComponent(parts[0]);
            }
        }
        function addToList(event) {
            const caller = event.target;
            const input = caller.parentElement.getElementsByTagName("input")[0];
            let groupName = undefined;
            if ("LI" == caller.parentElement.parentElement.tagName) {
                groupName = caller.parentElement.firstElementChild.textContent;
            }
            let url = determineAddUrl({ 'groupName': groupName, 'input': input.value });
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            console.log(xmlHttp.responseText);
            input.value = '';
            location.reload();
        }
        function deleteFromList(event) {
            const groupName = event.target.parentElement.parentElement.parentElement.children[0].children[0].textContent;
            const text = event.target.parentElement.children[0].textContent;
            let url = '/grocery-list/' + 'delete' + '?group=' + encodeURIComponent(groupName) + '&name=' + (text);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            console.log(xmlHttp.responseText);
            location.reload();
        }
        function moveUp(event) {
            const caller = event.target;
            let groupName = caller.parentElement.firstElementChild.textContent;
            let url = '/grocery-list/' + 'move' + '?direction=' + 'up' + '&group=' + encodeURIComponent(groupName);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            console.log(xmlHttp.responseText);
            location.reload();
        }
        function moveDown(event) {
            const caller = event.target;
            let groupName = caller.parentElement.firstElementChild.textContent;
            let url = '/grocery-list/' + 'move' + '?direction=' + 'down' + '&group=' + encodeURIComponent(groupName);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            console.log(xmlHttp.responseText);
            location.reload();
        }
    </script>
</body>

</html>