<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
</head>

<body>
    <div><b><a href="..">Home</a></b> &gt; <b>lists</b></div>
    <h1>Shopping List</h1>
    <div id="input">
        <input id="item-text-box" type="text">
        <button id="add" onclick="addToList(event)">Add</button>
    </div>

    <ul id="main-list" class="ui-list top-list">
    </ul>
    <form class="logout" action="/accounts/logout/?next=/" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    <script>
        let listContent = {
            {% for group, items in list.items %}
                '{{group}}': [
                    {% for item in items %}
                    '{{item}}',
                    {% endfor %}
                ],
            {% endfor %}
        };

        String.prototype.hashCode = function() {
            var hash = 0,
            i, chr;
            if (this.length === 0) return hash;
            for (i = 0; i < this.length; i++) {
                chr = this.charCodeAt(i);
                hash = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        }

        document.addEventListener("keydown", function (e) {
            if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
            }
        }, false);
        document.getElementById("item-text-box")
            .addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("add").click();
                }
            });
        let gtbs = document.getElementsByClassName("group-text-box")
        for (let i = 0; i < gtbs.length; i++) {
            item = gtbs[i];
            item.addEventListener("keyup", function (event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    event.target.parentElement.getElementsByClassName("add")[0].click();
                }
            });
        }
        function determineAddUrl(json) {
            let task = json.task;
            let input = json.input;
            let groupName = json.groupName;
            let parts = input.split(",", 2);
            if (2 == parts.length) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(parts[0]) + '&name=' + encodeURIComponent(parts[1]);
            } else if (!!groupName) {
                return '/grocery-list/' + 'add' + '?group=' + encodeURIComponent(groupName) + '&name=' + encodeURIComponent(parts[0]);
            } else {
                return '/grocery-list/' + 'add' + '?name=' + encodeURIComponent(parts[0]);
            }
        }
        function addToList(event) {
            const caller = event.target;
            const input = caller.parentElement.getElementsByTagName("input")[0];
            let groupName = undefined;
            if ("LI" == caller.parentElement.parentElement.tagName) {
                groupName = caller.parentElement.firstElementChild.textContent;
            }
            let url = determineAddUrl({ 'groupName': groupName, 'input': input.value });
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true);
            xmlHttp.send(null);
            xmlHttp.onload = handleAddList;
            input.value = '';
        }
        function handleAddList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            if(result.hasOwnProperty('group') && result.hasOwnProperty('name')) {
                addItem(result.group, result.name);
            }
        }
        function deleteFromList(event) {
            const groupName = event.target.parentElement.parentElement.parentElement.children[0].children[0].textContent;
            const text = event.target.parentElement.children[0].textContent;
            let url = '/grocery-list/' + 'delete' + '?group=' + encodeURIComponent(groupName) + '&name=' + (text);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true); // false for synchronous request
            xmlHttp.onload = handleDeleteList;
            xmlHttp.send(null);
        }
        function handleDeleteList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            removeItem(result.group, result.name);
        }
        function moveUp(event) {
            const caller = event.target;
            let groupName = caller.parentElement.firstElementChild.textContent;
            let url = '/grocery-list/' + 'move' + '?direction=' + 'up' + '&group=' + encodeURIComponent(groupName);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true); // false for synchronous request
            xmlHttp.onload = handleMoveList;
            xmlHttp.send(null);
        }
        function moveDown(event) {
            const caller = event.target;
            let groupName = caller.parentElement.firstElementChild.textContent;
            let url = '/grocery-list/' + 'move' + '?direction=' + 'down' + '&group=' + encodeURIComponent(groupName);
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", url, true); // false for synchronous request
            xmlHttp.onload = handleMoveList;
            xmlHttp.send(null);
        }

        function handleMoveList(event) {
            let xmlHttp = event.target;
            let result = JSON.parse(xmlHttp.responseText);
            if(result.hasOwnProperty('groups')) {
                swapGroups(result.groups[0], result.groups[1]);
            }
        }

        function swapGroups(groupOne, groupTwo) {
            let mainList = document.getElementById('main-list');

            const groupOneId = groupOne.hashCode();
            let groupOneLi = document.getElementById(groupOneId);
            const groupTwoId = groupTwo.hashCode();
            let groupTwoLi = document.getElementById(groupTwoId);

            mainList.insertBefore(groupOneLi, groupTwoLi);
        }

        function addItem(group, item) {
            let mainList = document.getElementById('main-list');

            const groupId = group.hashCode();
            let groupLi = document.getElementById(groupId);
            if(!groupLi) {
                groupLi = document.createElement('li');
                groupLi.id = groupId;
                groupLi.appendChild(createAddToDiv(group));
                let itemsList = document.createElement('ul');
                itemsList.classList.add('ui-list');
                itemsList.classList.add('bottom-list');
                groupLi.appendChild(itemsList);
                mainList.appendChild(groupLi);
            }

            let itemUl = groupLi.getElementsByClassName('ui-list')[0];


            const itemId = (group + String.fromCharCode(2) + item).hashCode();
            let itemLi = document.getElementById(itemId);
            if(!itemLi) {
                let itemLi = document.createElement('li');
                itemLi.id = itemId;
                let nameDiv = document.createElement('div');
                nameDiv.classList.add('name');
                nameDiv.innerHTML = item;
                itemLi.appendChild(nameDiv);
                let deleteButton = document.createElement('button');
                deleteButton.onclick = deleteFromList;
                deleteButton.classList.add('delete');
                deleteButton.innerHTML = '&times;'
                itemLi.appendChild(deleteButton);
                itemUl.appendChild(itemLi);
            }


        }

        function createAddToDiv(group) {
            let addToGroupDiv = document.createElement('div');
            addToGroupDiv.classList.add('add-to-group');
            let nameDiv = document.createElement('div');
            nameDiv.classList.add('name');
            nameDiv.textContent = group;
            addToGroupDiv.appendChild(nameDiv);
            let fillDiv = document.createElement('div');
            fillDiv.classList.add('fill');
            addToGroupDiv.appendChild(fillDiv);
            let upButton = document.createElement('button');
            upButton.classList.add('up');
            upButton.onclick = moveUp;
            upButton.innerHTML = '&#9650;';
            addToGroupDiv.appendChild(upButton);
            let downButton = document.createElement('button');
            downButton.classList.add('down');
            downButton.onclick = moveDown;
            downButton.innerHTML = '&#9660;';
            addToGroupDiv.appendChild(downButton);
            return addToGroupDiv;
        }

        function removeItem(group, item) {
            const groupId = group.hashCode();
            const itemId = (group + String.fromCharCode(2) + item).hashCode();
            document.getElementById(itemId).remove();
            let groupLi = document.getElementById(groupId);
            let itemUl = groupLi.getElementsByClassName('ui-list')[0];
            if(!itemUl.firstElementChild) {
                groupLi.remove();
            }
        }

        {
            let groups = Object.keys(listContent);
            for(let i = 0; i < groups.length; i++) {
                let group = groups[i];
                let items = listContent[group];
                for(let j = 0; j < items.length; j++) {
                    let item = items[j];
                    addItem(group, item);
                }
            }
        }
    </script>
</body>

</html>