<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dumbphone Apps</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
<h1>Signup</h1>
<button onclick="showPhone(event)">Signup with phone number</button>
<button onclick="showEmail(event)">Signup with email</button>
<button onclick="showPass(event)">Signup with username and password</button>
<form method="post" action="/accounts/signup/phone" id="signup-with-phone">
  {% csrf_token %}
  <p>
    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone">
  </p>
  <button type="submit">Sign Up</button>
</form>
<form method="post" action="/accounts/signup/email" id="signup-with-email">
  {% csrf_token %}
  <p>
    <label for="email">Username:</label>
    <input type="email" id="email" name="email">
  </p>
  <button type="submit">Sign Up</button>
</form>
<form method="post" action="/accounts/signup/user" id="signup-with-username-and-password">
  {% csrf_token %}
  <p>
    <label for="id_username_and_password">Username:</label>
    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username_and_password">
  </p>
  <p>
    <label for="id_password">Password:</label>
    <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
  </p>
  <button type="submit">Sign Up</button>
</form>
<script>
    let signupPhone = document.getElementById('signup-with-phone');
    let signupEmail = document.getElementById('signup-with-email');
    let signupPass = document.getElementById('signup-with-username-and-password');
    function hideAll() {
        signupPhone.style.display = 'none';
        signupEmail.style.display = 'none';
        signupPass.style.display = 'none';
    }
    function showPhone(event) {
        hideAll();
        signupPhone.style.display = 'block';
    }
    function showEmail(event) {
        hideAll();
        signupEmail.style.display = 'block';
    }
    function showPass(event) {
        hideAll();
        signupPass.style.display = 'block';
    }
    hideAll();
</script>
</body>

</html>