<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Shopping List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>

<body>
<div><b><a href="..">Home</a></b> &gt; <b>grocery-list</b></div>
<div id="input">
    <input class="big" onfocus="hidePopups(event)" id="item-text-box" type="text">
    <button id="add" onclick="addToList(event)">Add</button>
</div>

<div style="display:none;" id="modal-bg">
    <div id="modal-popup">
        <div id="modal-content">

        </div>
        <button onclick="hidePopups(event)" class="delete">&times;</button>
    </div>
</div>

<div style="display:none;" id="share">
    <p>Share &ldquo;<span id="list-name">this</span>&rdquo; list with:</p>
    <label for="user-to-share-with">Phone Number: </label><input type="tel" id="user-to-share-with"/>
    <button id="share-button" onclick="sendShareRequest(event)">Share</button>
    <button onclick="hidePopups(event)" class="delete">&times;</button>
</div>

<div id="info" {% if not added and not removed %} style="display:none;" {% endif %}>
    <p id="info-p">
        {% if added %}
        {{added}}
        {% elif removed %}
        {{removed}}
        {% endif %}
    </p>
    <button onclick="hidePopups(event)" class="delete">&times;</button>
</div>

<ul id="main-list" class="ui-list top-list">
</ul>
<form class="logout" action="/accounts/logout" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
{% load static %}
<script src="{% static 'lists/js/list.js' %}"></script>
<script>
    let csrftoken = '{{ csrf_token }}';
    let listContent = {
        {% for key, group in list.items %}
            '{{key}}': {
                'hash': '{{group.hash}}',
                'name': '{{group.name}}',
                'items': [
                {% for item in group.items %}
                {'name':'{{item.name}}','hash':'{{item.hash}}','crossed_off':
                {% if item.crossed_off %}
                    true
                {% else %}
                    false
                {% endif %}
                },
                {% endfor %}
            ]},
        {% endfor %}
    };

    document.addEventListener("keydown", function (e) {
        if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
            e.preventDefault();
        }
    }, false);
    document.getElementById("item-text-box")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("add").click();
            }
        });
    document.getElementById("user-to-share-with")
        .addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("share-button").click();
            }
        });
    let gtbs = document.getElementsByClassName("group-text-box")
    for (let i = 0; i < gtbs.length; i++) {
        item = gtbs[i];
        item.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                event.target.parentElement.getElementsByClassName("add")[0].click();
            }
        });
    }

    {
        let groups = Object.keys(listContent);
        for(let i = 0; i < groups.length; i++) {
            let group = listContent[groups[i]];
            let items = listContent[groups[i]].items;
            for(let j = 0; j < items.length; j++) {
                let item = items[j];
                addItem(group, item);
            }
        }
    }
</script>
</body>

</html>