body {
  padding-bottom: 8px;
  background-color: rgb(49, 51, 56);
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}
.add-to-group button {
  height: 20px;
}
.top-right-buttons {
  position: absolute;
  top: 24px;
  right: 8px;
}
.back {
  position: absolute;
  top: 24px;
  left: 8px;
}
.history-container {
  position: relative;
  width: 100%;
}
.history-container > p {
  overflow-x: scroll;
  text-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
  min-height: 1.1em;
  text-align: right;
  margin: 0px;
}
.history-container > p::-webkit-scrollbar {
  display: none;
}
.history-container > p > span {
  padding: 0px 3px;
}
.input-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
p.discord {
  margin: 11px -5px -5px -5px;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 5px;
}
blockquote.discord {
  margin-top: 0px;
}
.username {
  font-weight: bold;
}
.reaction {
  display: inline-block;
  background-color: rgb(57, 54, 85);
  border: 1px solid rgb(102, 75, 246);
  border-radius: 5px;
  padding: 3px;
  color: rgb(230, 230, 230);
  margin-left: 1px;
}
button {
  background-color: rgb(64, 66, 73);
  color: rgb(230, 230, 230);
  border: 1px solid rgb(49, 51, 56);
  border-radius: 5px;
  padding: 3px 6px;
}
a {
  color: rgb(3, 152, 234);
}
a:visited {
  color: rgb(196, 3, 234);;
}
.load-more {
  text-align: center;
  margin-top: 16px;
}
.size-constraint {
  max-width: 100%;
  max-height: calc(100vh - 16px);
}
video,
img {
  background-color: rgb(64, 66, 73);
}
.placeholder, .download-link {
  background-color: rgb(64, 66, 73);
  width: 100%;
  height: calc(50vh - 16px);
}
.lds-spinner div:after {
  background-color: rgb(230, 230, 230);
}
.placeholder:before {
  content: "Click to load media";
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.download-link:before {
  content: "Click to download file";
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal {
  background-color:rgb(64, 66, 73);
  border-color:rgb(49, 51, 56);
}
blockquote {
  margin-inline-end: 0px;
}